.error2 {
    width: 100%;
    vertical-align: middle;
    margin-bottom: 30%;
    margin-top: 0;
    transition:box-shadow 2s,transform 5s,filter 500ms ease-in-out;
}
.error2:hover {
    transition:ease-out 20s;
    animation:alternate;
    transform: scale(2); 
}
.bodyError{
    background-color: #282c34;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}