.card-title{
    color:rgb(56, 145, 204) !important;
}
.card-text{
    color:rgb(56, 145, 204) !important;
}
.card-img-top{
    width: 70%;
    margin-top: 10%;
}
.card{
    align-items: center;
}
.card:hover{
    transform: scale(1.1);
}